* {
  box-sizing: border-box;
}

body {
  background-color: #CFD8DC;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  width: 100%;
}
.halfs {
  display: inline-block;
  height: 100%;
  max-width: 50%;
  padding: 100px 30px;
}
#left-half {
  background-color: #455A64;
  height: 100%;
}
h1 {
  color: #FFFFFF;
  font-size: 65px;
  font-weight: 800;
  max-width: 98%;
  width: 500px;
}
#logo {
  height: 40px;
  width: 100px;
}
input {
  display: block;
  font-size: 25px;
  margin-bottom: 35px;
  max-width: 98%;
  width: 450px;
}
.enter {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 17px;
  height: 35px;
  margin-bottom: 25px;
  max-width: 98%;
  width: 450px;
}
.enter:hover {
  background-color: #FFD773;
}
.bookmark {
  background-color: #FFFFFF;
  border: 2px solid #607D8B;
  margin-bottom: 25px;
  max-width: 98%;
  padding: 5px 20px;
  width: 450px;
}
.titles {
  color: #455A64;
  font-size: 20px;
}
.urls {
  color: #455A64;
  font-weight: 400;
}
.underlined:hover {
  font-weight: 800;
  text-decoration: underline #FFC107;
}
.right-buttons {
  background-color: #FFFFFF;
  color: #455A64;
  border: none;
}
.read-enabled{
  color: #F05A28
}
#delete {
  float: right;
}

@media (max-width: 1024px) {
  .halfs {
    padding: 10px;
    max-width: 100%;
  }
  #left-half {
    display: block;
    max-height: 300px;
    max-width: 100%;
  }
  #right-half {
    display: block;
    max-width: 100%;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
}
@media (min-width: 1200px) {

}
